@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive; 
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../imagens/fundo.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255,255,255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 950px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.card{
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #CCC;
}

.face{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 1px solid #cfcece;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front{
  transform: rotateY(180deg);
}

.back{
  background-image: url('../imagens/back.jpg');
  backface-visibility: hidden;
}

.reveal-card{
  transform: rotateY(180deg);
}

.disabled-card{
  filter: saturate(0);
  opacity: 0.5;
}

/*##################################################################################*/

table{
  font-size: 25px;
  margin-top: 30px;
}

th:nth-child(1){
  padding: 30px;
}


th:nth-child(2){
  color: rgb(209, 208, 207);

}

th, td{
  color: rgb(209, 208, 207);
}

td:nth-child(2){
  color: rgb(209, 208, 207);
  font-weight: bold;
}

h2{
  color: rgb(209, 208, 207);
  font-weight: bold;
}


.container{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 90vh;
  height: 50vh;
  background-image: url(../imagens/back5.jpg);
  /* background-color: #1C1C1C; */
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  opacity: 0.9;
}

.ranking{
  margin-left: 35px;
}

.menu{
  display: flex;
  flex-direction: column;
  border-right: 5px solid black;

}

.restart-btn, .home-btn{
  font-size: 20px;
  margin-top: 80px;
  margin-right: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
  color: rgb(8, 8, 8);
}

.home-btn{
  line-height: 30px;
}

.restart-btn, .home-btn:hover{
  cursor: pointer;
}

