@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 *{
	font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 25px auto;
  font-size: 24px;
  text-align: center;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(38, 129, 145);
  transition: transform 0.5s;
  margin-top: 150px;
  margin-left: 150px;
}

input:hover{
  cursor: pointer;
}

.active {
  transform: rotate(0deg) scale(1);
}

.controls{
  display: flex;
  flex-direction: column;
  width: 150px;
}
/* Estilizando as informações do CSS mostradas na tela */

#info{
	margin-top: 30px;
	margin-right: 80px;
  color: rgb(0, 0, 0)
} 

#css-info {
  width: 300px;
  font-style: italic;
  background-color: rgb(51, 53, 53);
  color: rgb(124, 216, 232);
  padding: 20px;
}




@media only screen and (max-width: 700px) {
  h1 {
    margin: 25px auto;
    font-size: 24px;
    text-align: center;
  }

  #container {
    flex-direction: column;
    align-items: center;
  }

  #controls {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }

  input:hover{
    cursor: pointer;
  }

  #controls ul {
    width: 100%;
    margin-bottom: 20px;
  }

  #controls li {
    width: 100%;
    margin-bottom: 10px;
  }

  .box {
    margin: 50px auto 20px;
  }

  #info {
    margin: 30px auto 50px;
  }

}